<section>
    <a id="kocka" href="/journal">
        <p>Kocka</p>
    </a>
    <a id="kocka">
        <p>Kocka</p>
    </a>
    <a id="kocka">
        <p>Kocka</p>
    </a>
    <a id="kocka">
        <p>Kocka</p>
    </a>
    <a id="kocka">
        <p>Kocka</p>
    </a>
    <a id="kocka">
        <p>Kocka</p>
    </a>
</section>