
<div id="Jcontainer">
    <a href="/">Back</a>
    <p id="journalContent"  contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, sapiente tempore distinctio eveniet ipsam ea fugit deleniti libero, deserunt, magnam eligendi incidunt ducimus debitis accusamus nemo? Atque quis ducimus officiis.</p>
    <div id="buttonbox">
        <button id="saveButton">Save</button>
        <button id="clearButton">Clear</button>
    </div>
</div>

<script type="module" src="/save.js"></script>
<script src="/clear.js"></script>